In [1]:
import pandas as pd

resultados_exames = pd.read_csv('exames.csv')
resultados_exames.head()

,id,diagnostico,exame_1,exame_2,exame_3,exame_4,exame_5,exame_6,exame_7,exame_8,...,exame_24,exame_25,exame_26,exame_27,exame_28,exame_29,exame_30,exame_31,exame_32,exame_33
0,842302,M,17.99,10.38,122.80,103.78,1001.0,0.11840,0.27760,0.3001,...,184.60,2019.0,0.1622,0.6656,0.7119,0.786,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,103.78,1326.0,0.08474,0.07864,0.0869,...,158.80,1956.0,0.1238,0.1866,0.2416,0.786,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,103.78,1203.0,0.10960,0.15990,0.1974,...,152.50,1709.0,0.1444,0.4245,0.4504,0.786,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,103.78,386.1,0.14250,0.28390,0.2414,...,98.87,567.7,0.2098,0.8663,0.6869,0.786,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,103.78,1297.0,0.10030,0.13280,0.1980,...,152.20,1575.0,0.1374,0.2050,0.4000,0.786,0.1625,0.2364,0.07678,0.854454

In [2]:
from sklearn.model_selection import train_test_split
from numpy import random

SEED = 123143
random.seed(SEED)

valores_exames = resultados_exames.drop(columns=['id', 'diagnostico'])
diagnostico = resultados_exames.diagnostico

treino_x, teste_x, treino_y, teste_y = train_test_split(valores_exames, diagnostico)

In [3]:
teste_x

,exame_1,exame_2,exame_3,exame_4,exame_5,exame_6,exame_7,exame_8,exame_9,exame_10,...,exame_24,exame_25,exame_26,exame_27,exame_28,exame_29,exame_30,exame_31,exame_32,exame_33
550,10.860,21.48,68.51,103.78,360.5,0.07431,0.04227,0.00000,0.00000,0.1661,...,74.08,412.3,0.10010,0.07348,0.00000,0.786,0.00000,0.2458,0.06592,NaN
405,10.940,18.59,70.39,103.78,370.0,0.10040,0.07460,0.04944,0.02932,0.1486,...,82.76,472.4,0.13630,0.16440,0.14120,0.786,0.07887,0.2251,0.07732,NaN
239,17.460,39.28,113.40,103.78,920.6,0.09812,0.12980,0.14170,0.08811,0.1809,...,141.20,1408.0,0.13650,0.37350,0.32410,0.786,0.20660,0.2853,0.08496,NaN
76,13.530,10.94,87.91,103.78,559.2,0.12910,0.10470,0.06877,0.06556,0.2403,...,91.36,605.5,0.14510,0.13790,0.08539,0.786,0.07407,0.2710,0.07191,NaN
458,13.000,25.13,82.61,103.78,520.2,0.08369,0.05073,0.01206,0.01762,0.1667,...,91.06,628.5,0.12180,0.10930,0.04462,0.786,0.05921,0.2306,0.06291,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,20.090,23.86,134.70,103.78,1247.0,0.10800,0.18380,0.22830,0.12800,0.2249,...,158.80,1696.0,0.13470,0.33910,0.49320,0.786,0.19230,0.3294,0.09469,NaN
287,12.890,13.12,81.89,103.78,515.9,0.06955,0.03729,0.02260,0.01171,0.1337,...,87.40,577.0,0.09616,0.11470,0.11860,0.786,0.05366,0.2309,0.06915,NaN
342,11.060,14.96,71.49,103.78,373.9,0.10330,0.09097,0.05397,0.03341,0.1776,...,79.76,440.0,0.14180,0.22100,0.22990,0.786,0.10750,0.3301,0.09080,0.845748
220,13.650,13.16,87.88,103.78,568.9,0.09646,0.08711,0.03888,0.02563,0.1360,...,99.71,706.2,0.13110,0.24740,0.17590,0.786,0.08056,0.2380,0.08718,0.069723
151,8.219,20.70,53.27,103.78,203.9,0.09405,0.13050,0.13210,0.02168,0.2222,...,58.08,249.8,0.16300,0.43100,0.53810,0.786,0.07879,0.3322,0.14860,NaN

In [4]:
from sklearn.ensemble import RandomForestClassifier

# instanciar objeto do modelo
classificador = RandomForestClassifier(n_estimators=100)
# ajustar modelo aos dados
classificador.fit(treino_x, treino_y)
print(classificador.score(teste_x, teste_y))

ValueError: Input X contains NaN.
RandomForestClassifier does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [5]:
# isnull() retorna True caso exista um valor nulo na posição
resultados_exames.isnull().sum()
# ao aplicar o .sum() na saida do isnull(), temos para cada coluna o numero de linhas com valor nulo
# se uma coluna tem muitas celulas vazias, devemos exclui-la

id               0
diagnostico      0
exame_1          0
exame_2          0
exame_3          0
exame_4          0
exame_5          0
exame_6          0
exame_7          0
exame_8          0
exame_9          0
exame_10         0
exame_11         0
exame_12         0
exame_13         0
exame_14         0
exame_15         0
exame_16         0
exame_17         0
exame_18         0
exame_19         0
exame_20         0
exame_21         0
exame_22         0
exame_23         0
exame_24         0
exame_25         0
exame_26         0
exame_27         0
exame_28         0
exame_29         0
exame_30         0
exame_31         0
exame_32         0
exame_33       419
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from numpy import random

SEED = 123143
random.seed(SEED)

valores_exames = resultados_exames.drop(columns=['id', 'diagnostico'])
diagnostico = resultados_exames.diagnostico
# remover a coluna 33 (tem muitos valores nulos)
valores_exames_v1 = valores_exames.drop(columns=['exame_33'])

treino_x, teste_x, treino_y, teste_y = train_test_split(valores_exames_v1, diagnostico, test_size=0.3)


# instanciar objeto do modelo
classificador = RandomForestClassifier(n_estimators=100)
# ajustar modelo aos dados
classificador.fit(treino_x, treino_y)
print('Resultado da classificação: ', (classificador.score(teste_x, teste_y) * 100))

Resultado da classificação:  92.39766081871345

In [12]:
# compara resultado obtido com o dummyClassifier
from sklearn.dummy import DummyClassifier
SEED = 123143
random.seed(SEED)
classificador_bobo = DummyClassifier(strategy='most_frequent')
classificador_bobo.fit(treino_x, treino_y)
print('Resultado da classificação boba: ', (classificador_bobo.score(teste_x, teste_y) * 100))

Resultado da classificação boba:  66.66666666666666

## Visualização dos dados

In [ ]:
import seaborn as sns

sns.violinplot(x='exames', y='valores', hue='diagnostico', data=dados_plot)