In [1]:
import pandas as pd

uri_dados = 'https://gist.githubusercontent.com/guilhermesilveira/e99a526b2e7ccc6c3b70f53db43a87d2/raw/1605fc74aa778066bf2e6695e24d53cf65f2f447/machine-learning-carros-simulacao.csv'
dados = pd.read_csv(uri_dados)
dados

      Unnamed: 0      preco  vendido  idade_do_modelo   km_por_ano
0              0   30941.02        1               18  35085.22134
1              1   40557.96        1               20  12622.05362
2              2   89627.50        0               12  11440.79806
3              3   95276.14        0                3  43167.32682
4              4  117384.68        1                4  12770.11290
...          ...        ...      ...              ...          ...
9995        9995   97112.86        0               12  25060.64248
9996        9996  107424.63        1               16  21317.31764
9997        9997   93856.99        0                4  20950.38812
9998        9998   51250.57        1                7  16840.13376
9999        9999   87945.73        0               19  19894.66108

[10000 rows x 5 columns]

In [2]:
# remover coluna inutil
dados = dados.drop(columns=['Unnamed: 0'])
dados

          preco  vendido  idade_do_modelo   km_por_ano
0      30941.02        1               18  35085.22134
1      40557.96        1               20  12622.05362
2      89627.50        0               12  11440.79806
3      95276.14        0                3  43167.32682
4     117384.68        1                4  12770.11290
...         ...      ...              ...          ...
9995   97112.86        0               12  25060.64248
9996  107424.63        1               16  21317.31764
9997   93856.99        0                4  20950.38812
9998   51250.57        1                7  16840.13376
9999   87945.73        0               19  19894.66108

[10000 rows x 4 columns]

In [5]:
# Realizar separação em dados de treino e teste
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

# features na variável x e target na variavel y
x = dados[['preco', 'idade_do_modelo', 'km_por_ano']]
y = dados['vendido']

# set SEED
np.random.seed(158020)

# split the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, stratify=y)
print(f"Treinaremos com {len(x_train)} elementos e testaremos com {len(x_test)} elementos.")

Treinaremos com 7500 elementos e testaremos com 2500 elementos.

In [10]:
# Visualizar valores de predição baseline com o DummyClassifier
from sklearn.dummy import DummyClassifier

# instantiate the class
dummy = DummyClassifier()

# fit the data
dummy.fit(x_train, y_train)

# calculate the accuracy
accuracy = dummy.score(x_test, y_test)*100
print(f"Dummy classifier accuracy: {accuracy:.2f}")

Dummy classifier accuracy: 58.00