In [1]:
import pandas as pd

uri='https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'

dados = pd.read_csv(uri)

In [4]:
mapa = {
  'home': 'principal',
  'how_it_works': 'como_funciona',
  'contact': 'contato',
  'bought': 'comprou'
}
dados = dados.rename(columns=mapa)
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [6]:
x = dados[['principal', 'como_funciona', 'contato']]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [7]:
y = dados['comprou']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [8]:
dados.shape

(99, 4)

In [12]:
treino_x = x[:75]
treino_y = y[:75]

teste_x = x[75:]
teste_y = y[75:]

print(f"Treinaremos com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos")

Treinaremos com 75 elementos e testaremos com 24 elementos

In [16]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)*100

print(f"A acurácia foi {acuracia:.2f}%")

A acurácia foi 95.83%

# Sobre dicionários

In [17]:
contatos_lista = [('Yan', '1234-5678'), ('Pedro', '9999-9999'),
                    ('Ana', '8765-4321'), ('Marina', '8877-7788')]

contatos = dict(contatos_lista)
print(contatos)

{'Yan': '1234-5678', 'Pedro': '9999-9999', 'Ana': '8765-4321', 'Marina': '8877-7788'}

In [18]:
print(contatos['Ana'])

8765-4321

In [19]:
print(contatos['João'])

KeyError: 'João'

In [20]:
# para evitar o key error pode-se usar o método get()
print(contatos.get('Yan', 'Contato não encontrado'))
print(contatos.get('João', 'Contato não encontrado'))

1234-5678
Contato não encontrado

In [21]:
# checar se uma CHAVE está no dicionário
print('Yan' in contatos)

True

In [22]:
# checar se um VALOR está no dict
print('9999-9999' in contatos.values())

True

In [23]:
# para adicionar elementos basta atribuir o valor à nova chave
contatos['João'] = '8887-7778'
print(contatos)

{'Yan': '1234-5678', 'Pedro': '9999-9999', 'Ana': '8765-4321', 'Marina': '8877-7788', 'João': '8887-7778'}

In [24]:
# remover um elemento do dict
del contatos['Marina']
print(contatos)

{'Yan': '1234-5678', 'Pedro': '9999-9999', 'Ana': '8765-4321', 'João': '8887-7778'}